.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.resumo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 10px
}

.card {
  padding: 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: rgb(214, 232, 248);
}

.movimentacoes {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.bloco {
  padding: 20px;
  border-radius: 12px;
  background: rgb(252, 249, 234);
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.descricao{
  display: flex; gap: 8px; 
  align-items: baseline;
  margin-bottom: 1px;
  border-bottom: none;
}